<html>
<body>
    <% results.forEach(function(data) { %>
        <h3><%= data.title %></h3>
        <ul>
            <% data.fields.forEach(function(field) { %>
                <li><%= field.title %>: <%= field.value %></li>
            <% }); %>
        </ul>
    <% }); %>
</body>
</html>
