<html>
<head>
    <meta http-equiv="refresh" content="10">
</head>
<body>
    <i>Refreshing data every 10 seconds</i>

    <% results.forEach(function(data) { %>
        <h3><%= data.title %></h3>
        <ul>
            <% data.fields.forEach(function(field) { %>
                <li><%= field.title %>: <%= field.value %></li>
            <% }); %>
        </ul>
    <% }); %>
</body>
</html>
