<html>
<body>
    <p><b>Pyraminx R1 score:</b> <%=pyraminxR1Score%></p>
    <p><b>Pyraminx R1 place:</b> <%=pyraminxR1Place%></p>
    <p><b>4x4 R1 score:</b> <%=fourbyfourR1Score%></p>
    <p><b>4x4 R1 place:</b> <%=fourbyfourR1Place%></p>
</body>
</html>
